<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search Results</title>
    <link rel="stylesheet" href="/css/searchresults.css">
</head>
<body>
    <!-- Navigation Bar-->
    <nav class="nav">
        <a href="/" class="logo">Tune Hub Music</a>
        <ul class="nav-links">
            <li><a href="/songs/viewsongs" class="nav-button" >View Songs</a></li>
            <li>
                <form action="/logout" method="get">
                    <button type="submit" class="nav-button">Logout</button>
                </form>
            </li>
        </ul>
    </nav>

    <div class="container">
        <h1>Search Results</h1>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Name</th>
                    <th scope="col">Artist</th>
                    <th scope="col">Genre</th>
                    <th scope="col">Play</th>
                </tr>
            </thead>
            <tbody>
                <!-- Dynamic content with Thymeleaf -->
                <tr th:each="song : ${searchResults}">
                    <td th:text="${song.id}"></td>
                    <td th:text="${song.name}"></td>
                    <td th:text="${song.artist}"></td>
                    <td th:text="${song.genre}"></td>
                    <td>
                         <audio controls>
                            <source th:src="${song.link}" type="audio/mpeg"></source>
                        </audio>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>
