<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Playlists</title>
    <link rel="stylesheet" href="/css/viewplaylist.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
	<!-- Navigation Bar-->
	<nav class="nav">
	    <a href="/" class="logo">Tune Hub Music</a>
	    <ul class="nav-links">
	        <form action="/songs/viewsongs" method="get">
	            <button type="submit">View Songs</button>
	        </form>
	        <form action="/songs/createplaylist" method="get">
	            <button type="submit">Create Playlist</button>
	        </form>
	    </ul>
	</nav>
    <div class="container">
        <h1>Explore your Playlists</h1>
        <table class="table">
            <thead>
                <tr>  
                    <th>Playlist Name</th>
                    <th>Song</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                <!-- Iterate over the playlists -->
                <tr th:each="playlist : ${playlists}">
                    <td th:text="${playlist.name}"></td>
                    <td>
                        <table class="nested-table" > <!-- Nested table for displaying songs -->
                            <tbody>
                                <!-- Iterate over songs in the playlist -->
                                <tr th:each="song : ${playlist.songs}">
                                    <!-- Display song name in a separate column -->
                                    <td th:text="${song.name}" ></td>
                                    <!-- Display audio player for the song -->
                                    <td>
                                        <audio controls>
                                            <source th:src="${song.link}" type="audio/mpeg">
                                        </audio>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                    <td>
					    <form th:action="@{/songs/deleteplaylist(playlistId=${playlist.id})}" method="post">
					        <button type="submit" class="delete-button"><i class="fa fa-trash"></i></button>
					    </form>
					</td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>
