<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Tune Hub Music - By Basavaraj</title>
    <!-- Custom CSS -->
    <link rel="stylesheet" href="/css/welcome.css">
</head>
<body>
	<!-- Navigation Bar-->
	<nav class="nav">
	    <a href="/" class="logo">Tune Hub Music</a>
	    <ul class="nav-links">
	    	<a href="/auth/about-us">
    		<button  class="about-contact-button" type="button">About Us</button></a>
	        <a href="https://github.com/BasavarajAili1" target="_blank">
    		<button  class="about-contact-button" type="button">Contact Us</button></a>
	        </form>
	        <form action="/auth/login" method="get">
	            <button type="submit">Sign In</button>
	        </form>
	        <form action="/auth/register" method="get">
	            <button type="submit">Sign Up</button>
	        </form>
	    </ul>
	</nav>
    <div class="container">
        <h1>Welcome to <span>Tune Hub Music</span></h1>
        	<form action="/auth/login" method="get">
	            <button type="submit" class="button-center">Cick Here To Explore Songs</button>
	    	</form>
        <p>At Tune Hub Music, we bring you the hottest trap beats, the latest releases, and the most popular tracks from your favorite artists. Whether you're looking to vibe out to some chill beats or get hyped with high-energy tracks, we've got you covered - Basavaraj Developer</p>
    </div>
</body>
</html>
