/* ==========================Font========================== */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(45deg,#007896, #46D93C);
}

.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 15px 0;
  background: linear-gradient(45deg,#007896, #46D93C);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  color:#fff;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  margin-left:6rem;
}

.nav-links {
  list-style: none;
  display: flex;
  align-items: center;
  margin-right:2rem;
}

.nav-links form {
  margin-right: 10px;
}

.nav-links form button[type="submit"] {
  background-color: #ffaf00;
  color: #fff;
  font-weight: bold;
  border: none;
  border-radius: 6px;
  padding: 10px 15px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.nav-links form button[type="submit"]:hover {
  background-color: #118009ab;
}

h1{
  color: #fff;
  margin-top:6rem;
  text-align: center;
}

.table {
  width: 100%;
  margin-top: 20px;
  border-collapse: collapse;
}

.table th,
.table td {
  padding: 25px;
  border: 1px solid #ccc;
  text-align: center;
}

.table th {
  background-color: #ffaf00;
  color: #fff;
}

.table tbody tr {
  background-color: #f2f2f2;
}

.table tbody tr:hover {
  background-color: #ddd;
}

.delete-button {
    background-color: transparent;
    border: none; 
    padding: 0;
    cursor: pointer;
}

.delete-button:hover {
    color: #cc0000;
}

.delete-button i {
    font-size: 24px;
}

.nested-table td,.nested-table th {
    border: none;
    text-align:left;
}

.nested-table td {
    padding: 8px 8px 8px 18px;
}

