/* ==========================Font========================== */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(45deg,#007896, #46D93C);
}

.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 15px 0;
  background: linear-gradient(45deg,#007896, #46D93C);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  color:#fff;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  margin-left:6rem;
}

.nav-links {
  list-style: none;
  display: flex;
  align-items: center;
  margin-right:2rem;
}

.nav-links form {
  margin-right: 10px;
}

.nav-links .about-contact-button {
  background-color: #ffaf00;
  color: #fff;
  font-weight: bold;
  border: none;
  border-radius: 6px;
  padding: 10px 15px;
  cursor: pointer;
  margin-right: 10px;
  transition: background-color 0.3s ease;
}

.nav-links .about-contact-button:hover {
  background-color: #118009ab;
}

.nav-links form button[type="submit"] {
  background-color: #ffaf00;
  color: #fff;
  font-weight: bold;
  border: none;
  border-radius: 6px;
  padding: 10px 15px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.nav-links form button[type="submit"]:hover {
  background-color: #118009ab;
}

h1{
    color:  #ffaf00;
    font-size: 5em;
    text-align: center;
    padding: 3rem 5px;
}
h1 span{
    color: #fffffff4;
}
p{
    color: #ffffffc7;
    text-align: center;
    padding-top: 20px;
    max-width: 47%;
    margin: 0 auto; 
    display: block;
    font-size: small;
}

.button-center {
    background-color: #5b21d7; 
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 15px 25px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 0 auto; 
    display: block;
  }
  
.button-center:hover {
    background-color: #ffaf00; /* Hover background color */
  }